*{
    font-family: 'Georgia', 'Garamond', serif;
}

.fondo{
    background-color: rgb(243, 184, 75);
    margin: 0px;
}

.titulo{
    text-align: center;
    color: rgb(66, 22, 10);
}

.titulo.principal{
    font-size: 42px;
}

.titulo.secundario{
    font-size: 24px;
}

#img_chef1{
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid rgb(66, 22, 10);
    border-radius: 15%;
}