.texto{
    font-family: 'Georgia', 'Garamond', serif;
    color: rgb(66, 22, 10);
    font-size: 18px;
}

.fondo{
    background-color: rgb(243, 184, 75);
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: rgb(253, 212, 136);
    background-color: rgb(116, 48, 29);
    padding: 0px 15px;
}

.header_izq, .header_der{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

#header_img_chef1, #contenido_img_chef1{
    width: auto;
    display: block;
    border-radius: 15%;
    background-color: rgb(253, 212, 136);
}

#header_img_chef1{
    height: 80px;
    border: 2px solid rgb(66, 22, 10);
}

.header .titulo{
    font-size: 40px;
}

@media (max-width: 650px){
    .header .titulo{
        font-size: 28px;
    }
}

.header .link{
    color:rgb(253, 212, 136);
    font-weight: bold;
}

.cuerpo{
    display: flex;
    align-items: stretch;
    flex: 1;
}

.menu_izq{
    background-color: rgb(168, 69, 41);
    color: rgb(253, 212, 136);
    width: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.menu_titulo{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

.lista{
    list-style-type: square;
    padding-left: 15px;
}

.menu_izq .link{
    color:rgb(253, 212, 136);
}

.contenido{
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contenido_inicio{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 15px;
}

#contenido_img_chef1{
    height: 200px;
    border: 5px solid rgb(66, 22, 10);
}

.contenedor_titulos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedor_titulos .principal{
    font-size: 40px;
    text-align: center;
    margin: 0px;
}

.principal{
    font-size: 36px;
    margin: 0px;
}

.contenedor_titulos .secundario{
    font-size: 20px;
    margin: 0px;
}

.link{
    text-decoration: none;
    color: rgb(66, 22, 10);
}

.link:hover{
    color: white;
}

li{
    margin-bottom: 10px;
}